html,body{
  background: #fff;
}
.container{
	width: 100%;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
	margin: 0 auto;
}
/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.43rem;
  padding: 0 0.32rem;
}
.header .logo{
  display: flex;

}
.header .logo img{
  width: 0.86rem;
  height: 0.86rem;
}
.header .logo p{
  font-size: 0.2rem;
  letter-spacing: 1px;
  color: #9fa0a0;
  line-height: 0.28rem;
  margin: 0.17rem 0 0 0.13rem
}
.header .main{
  display: none;
}
.header .m-main{
  display: flex;
}
.header .info{
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-left: 130px;
  margin-top: -20px;
}
.header .phone_group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .phone_group > img{
  width: 0.32rem;
}
.header .phone_group > p{
  font-size: 0.2rem;
  color: #d6a36a;
  font-weight: bold;
  margin-left: 0.08rem;
}
.header .nav_btn{
  width: 0.7rem;
  height: 0.7rem;
  margin-left: 0.15rem;
}
.header .nav_btn img{
  width: 100%;
}
.header .nav{
  width: 5rem;
	background-color: #d09f69;
	opacity: 0.9;
	position: absolute;
	top: 0.35rem;
	right: 1.2rem;
	display: none;
  z-index: 999;
  padding: 0.5rem 0;
}
.header .nav > li{
  border-bottom: 1px dashed #fff;
  padding-left: 0.16rem;
}
.header .nav > li > a{
	font-size: 0.3rem;
	color: #fff;
	height: 0.8rem;
  line-height: 0.8rem;
  letter-spacing: 1px;
}
.header .nav_arrow{
  position: absolute;
  display: none;
  top: 0.6rem;
  right: 1.1rem;
  z-index: 999;
}
.header .second_nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 0.24rem;
  color: #fff;
  margin: -0.1rem 0 0.1rem ;
}
.header .second_nav > li{
  line-height: 0.38rem;
  margin-right: 0.15rem;
}
.header .second_nav > li > a{
  color: #fff;
}


/* footer */
.footer{
  height: 2.07rem;
}
.footer-main{
  height: 1.67rem;
  background: #3e3e3e;
}
.footer-group{
  display: flex;
  color: #d6a36a;
  justify-content: space-between;
}
.footer-group .logo{
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.38rem 0 0 0.3rem;
}
.footer-middle{
  display: none;
}
.m-footer-middle{
  margin-left: 0.22rem;
  flex: 1;
}
.m-footer-middle h1{
  font-size: 0.15rem;
  font-weight: bold;
  color: #d6a36a;
  margin: 0.34rem 0 0.12rem 0;
}
.m-footer-middle p{
  font-size: 0.13rem;
  color: #d6a36a;
  line-height: 0.2rem;
}

.footer-group .ewm{
  display: flex;
  width: 2rem;
  justify-content: space-between;
  margin:0.32rem 0.3rem 0 0;
}
.footer-group .ewm .module{
  width: 0.9rem;
  text-align: center;
}
.footer-group .ewm .module img{
  width: 0.9rem;
  height: 0.9rem;
}
.footer-group .ewm .module p{
  font-size: 0.12rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0.07rem;
}
.footer-info{
  height: 0.4rem;
  background: #242424;
}
.footer-info > div{
  padding: 0 0.2rem;
  height: 0.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.12rem;
  color: #595757;
}
.footer-info > div a{
  color: #595757;
}


@media screen and (max-width: 300px) {
  .footer-info > div span:nth-child(3){
    display: none;
  }
}