/* 首页 */
/* banner */
.banner_group .swiper-container {
  width: 100%;
}
.banner_group .swiper-slide img{
  width: 100%;
}
.banner_group .swiper-pagination-bullet {
  width: 0.6rem!important;
  height: 0.06rem!important;
  background: #fff!important;
  border-radius: 0!important;
  opacity: 1 !important;
  margin: 0 0.07rem!important;
}
.banner_group .swiper-pagination-bullet-active {
  background: #d6a36a!important;
}
/* introduce */
.introduce{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  overflow-x: scroll;
  padding: 0 0.22rem;  
}
::-webkit-scrollbar {
  display: none!important;
}
.introduce .module{
  width: 3.33rem;
  margin-right: 0.1rem;
}
.introduce .module > div{
  width: 3.33rem;
  overflow: hidden;
  cursor: pointer;
}
.introduce .module > div:hover img{
  transform: scale(1.1);
  transition: all .5s ease;
}
.introduce .module img{
  width: 3.33rem;
  height: 1.93rem;
}
.introduce .module h1{
  width: 3.33rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.06rem;
  font-size: 0.18rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #d6a36a;
  border-bottom: 1px solid #efefef;
}
.introduce .module h3{
  width: 3.33rem;
  font-size: 0.16rem;
  font-weight: bold;
  color: #3e3a39;
  line-height: 0.3rem;
  margin-top: 0.15rem;
}
.introduce .module p{
  width: 3.33rem;
  font-size: 0.15rem;
  color: #727171;
  line-height: 0.28rem;
}
/* brand */
.brand{
  height: 6.9rem;
  background-color: #f4f4f4;
  margin-top: 0.5rem;
}
.brand_group{
  position: relative;
  overflow: hidden;
  height: 6.9rem;
}
.brand_group .brand_title{
  margin-top: 0.36rem;
  margin-left: 0.42rem;
  width: 2.77rem;
}
.brand_group .brand_txt{
  width: 6.2rem;
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-align: justify;
  margin: 0.4rem auto 0;
}
.brand_group .brand_link{
  width: 2.63rem;
	height: 0.48rem;
  background-color: #d6a36a;
  color: #fff;
  font-size: 0.22rem;
  text-align: center;
  line-height: 0.48rem;
  border-radius: 35px;
  display: block;
  margin: 0.25rem auto 0;
}
.brand_group .brand_link:hover{
  background-color: #dfb280;
  transition: all .3s ease;
}
.brand_group .inset{
  width: 5.07rem;
  display: block;
  margin: 0.3rem auto 0;
}
.advantage{
  padding: 0 0.3rem;
}
.advantage h1{
  font-size: 0.28rem;
  font-weight: bold;
  color: #d6a36a;
  text-align: center;
  margin-top: 0.7rem;
}
.advantage .advantage_group{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.55rem auto 0.8rem;
}
.advantage_group .module{
  width: 2.16rem;
  height: 2.76rem;
  box-shadow: 0px 2px 10px 0px 
  rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.advantage_group .module img{
  display: block;
  margin: 0.5rem auto 0;
  width: 1.13rem;
}
.advantage_group .module p{
  width: 1.84rem;
	background-color: #ffffff;
  border: solid 1px #d6a36a;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0.47rem auto 0;
  font-size: 0.18rem;
  color: #3e3a39;
  text-align: center;
  padding: 0.11rem 0;
}
.advantage_group .module:hover p{
  background-color: #d6a36a;
  color: #fff;
  transition: all .3s ease;
}

@keyframes opa{
  0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}
@-webkit-keyframes opa{
  0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}
.icon_opa{
animation: opa 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

/* 品牌故事 */
.pagebanner{
  display: block;
  width: 100%;
  max-width: 100%;
}
.brand_group_1{
  border-bottom: 1px solid #dcdddd;
  overflow: hidden;
  padding-bottom: 0.43rem;
  width: calc(100% - 0.46rem);
}
.brand_group_1 .brand_title{
  margin-top: 0.47rem;
  width: 3.06rem;
}
.brand_group_1 .line{
  height: 2px;
  background: #d09f69;
  margin-top: 0.16rem;
}
.brand_group_1 .insetimg{
  width: 4.89rem;
  display: block;
  margin: 0.42rem auto 0;
}
.brand_group_title{
  font-size: 0.24rem;
  font-weight: bold;
  color: #3e3a39;
  height: 0.24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.brand_group_title span{
  width: 0.04rem;
  height: 0.24rem;
  background: #d09f69;
  display: inline-block;
  margin-right: 0.07rem;
}
.brand_group_1 .article{
  width: 100%;
  font-size: 0.16rem;
  color: #3e3a39;
  text-indent: 0.38rem;
  line-height: 0.32rem;
  text-align: justify;
  margin-top: 0.35rem;
}
.brand_group_2{
  border-bottom: 1px solid #dcdddd;
  margin-top: 0.48rem;
  padding-bottom: 0.43rem;
  width: calc(100% - 0.46rem);
}
.brand_group_2 .article{
  font-size: 0.18rem;
  color: #3e3a39;
  width: 100%;
  text-indent: 0.38rem;
  line-height: 0.32rem;
  text-align: justify;
  margin-top: 0.35rem;
}
.brand_group_3{
  border-bottom: 1px solid #dcdddd;
  margin-top: 0.48rem;
  padding: 0 0.23rem 0.43rem;

}
.brand_group_3 h1{
  font-size: 0.24rem;
  font-weight: bold;
  color: #d09f69;
  margin: 0.34rem auto 0.3rem;
}
.brand_group_3 .article{
  font-size: 0.18rem;
  color: #3e3a39;
  width: 100%;
  text-indent: 0.38rem;
  line-height: 0.32rem;
}
/* 产品中心 */
.product_group{
  padding-bottom: 0.43rem;
  width: calc(100% - 0.46rem);
}
.product_group .brand_group_title{
  margin-top: 0.33rem;
}
.product_group > p{
  font-size: 0.15rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-indent: 0.3rem;
}
.product_group > img{
  max-width: 100%;
}
.product_group > hr{
  width: 100%;
  height: 1px;
  background-color: #dcdddd;
}
.product_group > h3{
  font-size: 0.16rem;
  color: #d6a36a;
  line-height: 0.65rem;
  height: 0.65rem;;
  text-indent: 0.32rem;
}
.product_menu{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 0.46rem);
  margin-bottom: 0.5rem;
}
.product_menu .module{
  width: 3.32rem;
  text-align: center;
  margin-bottom: 0.35rem;
}
.product_menu .module .thumbnail{
  width: 3.32rem;
	height: 1.97rem;  
	background-color: #ffffff;
  border: solid 1px #c9caca;
  overflow: hidden;
}
.product_menu .module .thumbnail > img{
  max-width: 100%;
}
.product_menu .module > h2{
  font-size: 0.23rem;
	letter-spacing: 1px;
  color: #d09f69;
  font-weight: bold;
  margin-top: 0.2rem;
}
.product_menu .module > p{
  font-size: 0.23rem;
	letter-spacing: 1px;
  color: #d09f69;
  margin-top: 0.16rem;
}

/* 产品详情 */
.product_detail{
  margin-top: 0.44rem;
  margin-bottom: 0.7rem;
  width: calc(100% - 0.46rem);
}
.product_detail .guige{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
}
.product_detail .guige > i{
  font-size: 0.16rem;
  font-weight: bold;
  color: #d09f69;
}
.product_detail .guige > span{
  font-weight: bold;
  color: #3e3a39;
  font-size: 0.18rem;
}
.product_detail .ullist{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  padding-left: 0.3rem;
}
.product_detail .proimg{
  display: block;
  margin: 0.2rem auto;
  max-width: 100%;
  width: 100%;
}
.product_detail .line{
  width: 100%;
  height: 1px;
  background: #dcdddd;
}
.product_detail .biaoti{
  font-size: 0.16rem;
  color: #d6a36a;
  line-height: 0.32rem;
}
/* 客户案例 */
.case_group{
  width: calc(100% - 0.46rem);
  margin-bottom: 1rem;
}
.case_group .slideTxtBox .hd {
  margin-top: 0.5rem;
  overflow: hidden;
}

.case_group .slideTxtBox .hd ul {
  width: 5.88rem;
  overflow: hidden;
  margin: 0 auto;
}

.case_group .slideTxtBox .hd li {
  width: 2.83rem;
  height: 0.53rem;
  margin-right: 0.22rem;
  background: #fff;
  line-height: 0.53rem;
  text-align: center;
  border: 1px solid #d6a36a;
  color: #d6a36a;
  box-sizing: border-box;
  font-size: 0.24rem;
  cursor: pointer;
  float: left;
  margin-bottom: 0.22rem;
}

.case_group .slideTxtBox .hd ul li.on {
  border: 1px solid #d6a36a;
  background: #d6a36a;
  color: #fff;
  transition: all ease .3s;
}
.case_group .slideTxtBox .hd ul li:nth-child(2n+2) {
  margin-right: 0;
}
.case_group .slideTxtBox .hd ul li:last-child {
  margin-right: 0;
}

.case_group .case_module{
  width: 100%;
  border-bottom: 1px solid #dcdddd;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.case_group .fubiaoti{
  margin-top: 0.35rem;
  font-size: 0.18rem;
  color: #d6a36a;
  text-indent: 0.36rem;
}
.case_group .shuoming, .case_group .zishu{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-indent: 0.36rem;
  margin-top: 0.25rem;
}
.case_group .shuoming{
  width: 100%;
}
.case_group .thumbnail{
  width: 5.34rem;
  overflow: hidden;
  margin: 0.3rem auto;
}
.case_group .thumbnail img{
  width: 100%;
  display: block;
}


/* 走进奇愈 */
.aboutus_group_1{
  border-bottom: 1px solid #dcdddd;
  padding: 0.43rem 0;
  width: calc(100% - 0.46rem);
}
.aboutus_group_1 .aboutus_article p{
  margin-top: 0.3rem;
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-indent: 0.36rem;
}
.aboutus_group_1 .aboutus_article .inset{
  display: block;
  margin: 0.3rem auto 0;
  max-width: 90%;
}
.aboutus_group_1 .aboutus_article h2{
  font-size: 0.18rem;
  color: #d09f69;
  line-height: 0.45rem;
  margin: 0.3rem 0 0.3rem 0.36rem;
}
.aboutus_group_1 .aboutus_article ul li{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-indent: 0.36rem;
}
.aboutus_group_1 .aboutus_article ul li span{
  font-size: 0.2rem;
  color: #d09f69;
  padding-right: 0.1rem;
}
/* 公司动态 */
.company_article{
  margin-bottom: 4rem;
}
.company_article p{
  margin-top: 0.3rem;
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
  text-indent: 0.36rem;
}
/* 公司新闻 */
.newslist{
  
}
.newslist li{
  width: 100%;
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1rem;
}
.newslist li .thumbnail{
  width: 2.21rem;
	height: 1.39rem;
	border: solid 1px #e6e6e6;
}
.newslist li .thumbnail img{
  width: 2.21rem;
}
.newslist li .txt{
  width: 4.7rem;
  border-bottom: solid 1px #c9caca;
  position: relative;
}
.newslist li .txt .title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.newslist li .txt .title h3{
  font-size: 0.2rem;
  font-weight: bold;
  color: #d09f69;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.05rem;
}
.newslist li .txt .title a{
  color: #d09f69;
}
.newslist li .txt .title p{
  font-size: 0.16rem;
  color: #3e3a39;
  position: absolute;
  top: 1.17rem;
  left: 0;
}

.newslist li .txt .digest{
  display: inline;
  font-size: 0.16rem;
  color: hsl(12, 4%, 23%);
  line-height: 0.26rem;
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
  margin-top: 0.1rem;
}
.newslist li .txt .digest span{
  font-weight: bold;
  color: #d09f69;
}
.newslist li .txt .link{
  font-size: 0.16rem;
  color: #d09f69;
  float: right;
  margin: 0.1rem 0;
}
.newslist li .txt .link:hover{
  text-decoration: underline;
}
/* 科普知识 */
.knowledgelist li{
  width: 100%;
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1rem;
}
.knowledgelist li .txt{
  width: 100%;
  border-bottom: solid 1px #c9caca;
  position: relative;
}
.knowledgelist li .txt .title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.knowledgelist li .txt .title h3{
  font-size: 0.2rem;
  font-weight: bold;
  color: #d09f69;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.05rem;
}
.knowledgelist li .txt .title a{
  color: #d09f69;
}
.knowledgelist li .txt .title p{
  font-size: 0.16rem;
  color: #3e3a39;
  position: absolute;
  top: 1.17rem;
  left: 0;
}
.knowledgelist li .txt .digest{
  display: inline;
  font-size: 0.16rem;
  color: hsl(12, 4%, 23%);
  line-height: 0.26rem;
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
  margin-top: 0.1rem;
}
.knowledgelist li .txt .digest span{
  font-weight: bold;
  color: #d09f69;
}
.knowledgelist li .txt .link{
  font-size: 0.16rem;
  color: #d09f69;
  float: right;
  margin: 0.1rem 0;
}
.knowledgelist li .txt .link:hover{
  text-decoration: underline;
}
/* 详情页 */
.detail_page{

}
.detail_page .title{
  font-size: 0.24rem;
  color: #d09f69;
  font-weight: bold;
  text-align: center;
  margin-top: 0.4rem;
}
.detail_page .author{
  font-size: 0.15rem;
  text-align: center;
  color: #9fa0a0;
  margin: 0.4rem auto;
}
.detail_page .digest{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
}
.detail_page .digest span{
  font-weight: bold;
  color: #d09f69;
}
.detail_article{

}
.detail_article > h3{
  font-size: 0.2rem;
  color: #d09f69;
  margin: 0.35rem 0 0.1rem;
}
.detail_article > p{
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
}
.detail_article > p > span{
  color: #d09f69;
}
/* 分享 */
.share_group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.16rem;
  color: #3e3a39;
  margin: 0.3rem auto;
}


/* 合作伙伴 */
.partner_list{
  margin: 0.3rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.partner_list li{
}
.partner_list li img{

}
/* 分页 */
.pagenum{
  text-align: center;
  margin: 0.5rem auto 0.2rem;
  font-size: 0.16rem;
}
.pagenum .pagelist{
  overflow: hidden;
  display: inline-block;
}
.pagenum .pagelist li {
  float: left;
  background-color: #fff;
  border: 1px solid #dcdddd;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 4px;
  color: #3e3a39;
  padding: 0.1rem 0.15rem;
  margin-right: 0.1rem;
}
.pagenum .pagelist li a{
  color: #3e3a39;
}
.pagenum .pagelist li a:hover{
  text-decoration: underline;
}
.pagenum .pagelist li.thisclass {
  background-color: #d09f69;
  color: #fff!important;
  border: 1px solid #d09f69;
}
.pagenum .pagelist li.thisclass > a{
  color: #fff;
}
.pagenum .pagelist li:last-child{
  display: none;
}
.pagenum .pagelist select {
  display: none;
}
/* 联系我们 */
.location_group{
  height: 0.68rem;
  border-bottom: 2px solid #d09f69;
  margin-top: 0.47rem;
  width: calc(100% - 0.46rem);
}
.location_group img{
  display: block;
}
.location_group .contact_title_img{
  width:2.85rem
}
.location_group .product_title_img{
  width:3.41rem
}
.location_group .company_title_img{
  width:4.05rem
}
.location_group .about_title_img{
  width:2.5rem
}
.location_group .case_title_img{
  width:3.25rem
}
.location_menu{
  font-size: 18px;
  color: #3e3a39;
  margin-top: 32px;
  display: none;
}
.location_menu a{
  color: #3e3a39;
}
.location_menu a:hover{
  text-decoration: underline;
}
.location_menu span{
  display: inline-block;
  margin: 0 7px;
}

.contact_group_1{
  width: calc(100% - 0.46rem);
  padding: 0.35rem 0;
  border-bottom: 1px solid #dcdddd;
}
.contact_group_1 .article{
  width: 100%;
  margin: 0.36rem auto 0;
  font-size: 0.16rem;
  color: #3e3a39;
  line-height: 0.32rem;
}
.contact_group_1 > h1{
  text-align: center;
  font-size: 0.24rem;
  color: #d09f69;
  margin: 0.35rem auto;
}
.contact_icon{
  display: flex;
  justify-content: space-between;
}
.contact_icon .module{
  width: 33%;
  text-align: center;
  margin: 0.4rem auto;
}
.contact_icon .module img{
  width: 1.3rem;
  cursor: pointer;
}
.contact_icon .module h3{
  font-size: 0.18rem;
  color: #323132;
  font-weight: bold;
  margin-top: 0.25rem;
}
.contact_icon .module p{
  font-size: 0.14rem;
  color: #323132;
  margin-top: 0.15rem;
  line-height: 0.32rem;
}
@keyframes rotateicon2{
  0% { transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  100% { transform:rotate(-360deg);-webkit-transform:rotate(-360deg);}
}
@-webkit-keyframes rotateicon2{
  0% { transform:rotate(0deg);-webkit-transform:rotate(0deg);}
  100% { transform:rotate(-360deg);-webkit-transform:rotate(-360deg);}
}
.rotateicon2{
animation: rotateicon2 1s 0.3s ;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}